<!DOCTYPE html>
<div class="big-card">
  <div class="big-card__photo">
    <img
      height="200px"
      src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Placeholder_view_vector.svg"
      alt=""
    />
  </div>
  <div class="big-card__title">
    <h2><a href="#">Saiu a nova versão do Angular</a></h2>
  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores quasi
      ipsum commodi sint temporibus eveniet harum repellat? Atque velit in
      minima praesentium sequi temporibus, numquam ipsum maiores voluptatem,
      pariatur ullam.
    </p>
  </div>
</div>
