<!DOCTYPE html>
<app-menu-title></app-menu-title>

<div class="articles">
  <div class="articles__main">
    <app-big-card></app-big-card>
  </div>

  <div class="articles__others">
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
    <app-small-card></app-small-card>
  </div>
</div>

<div class="articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      title="Olá, me chamo Douglas"
      description="Sou desenvolvedor web apaixonado por tecnologia e inovação"
    ></app-big-card>
  </div>

  <div class="articles__others">
    <div *ngFor="let item of dataFake">
      <app-small-card
        id="{{ item.id }}"
        title="{{ item.title }}"
        photoCover="{{ item.photoCover }}"
      ></app-small-card>
    </div>
  </div>
</div>
